{% extends 'app/base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron mt-4 shadow-lg">
    <span style='color:red'><h2>welcome to Contact page</h2></span>
  
  </div>
</div>
 <div class="container">
   <div style="background:blue" class="jumbotron mt-4 shadow-lg">
  <div class="row">
	 <div class="col-12">
	 	<h2 class="contact-title">Get in Touch</h2>
	 </div>
                   
     <div class="col-lg-8">
     	<form novalidate="novalidate">
     <div class="row">
     	<div class="col-12">
     		<div class="form-group">
     			<textarea class="form-control w-100" name="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" Enter Message"></textarea>
            </div>
        </div>
        <div class="col-sm-6">
        	<div class="form-group">
        		<input class="form-control valid" name="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
            </div>
        </div>
        <div class="col-sm-6">
        	<div>
        		<input class="form-control valid" name="email"  type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
            </div>
        </div>
        <div class="col-12">
        	<div class="form-group">
        		<input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
            </div>
        </div>
    </div>
    <div class="form-group mt-3">
    	<a href="#"><button type="submit">Send</button></a>
    </div>
   </form>
  </div>
 </div> 
</div>                 
</div>                       
{% endblock %}
