{% extends 'app/base.html' %}
{% load static %}
{% block title %}View Restaurant{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-8 mx-auto shadow-lg">
		<div class="card-body">
			<h3>Item View</h3>
			<div class="row">
				<div class="col-sm">
					<img src="{{j.imimg.url}}" height="180px" width="100%">
				</div>
				<div class="col">
					<table class="table table-borderless">
						<tr>
							<th>Item Name</th>
							<th>{{j.iname}}</th>
						</tr>
						<tr>
							<th>Items Category</th>
							<th>{{j.icategory}}</th>
						</tr>
						<tr>
							<th>Item Price</th>
							<th>{{j.iprice}}</th>
						</tr>
					</table>
				</div>
			</div>
				<a href="{% url 'ritms' %}" class="btn btn-block btn-outline-warning my-2">Back To list</a>
		</div>
	</div>
</div>
{% endblock %}